body{

    background-color: rgba(140, 192, 243, 0.9);
}
.container{
    padding: 50px;
    width: 50%;
    margin: 50px;
    align-content: center !important;
    
    
}
.from-control ,input[type=text], input[type=number]{
    width: 50%;
    padding: 9px;
    margin: 5px 0 3px 0;
    background: rgba(35, 50, 65, 0.9);
    border-radius: 10px ;
    align-content: center !important;
}

#submit{
    padding: 10px 28px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px ;
}

 
#names {
    padding: auto;
}

.column {
    float: left;
    width: 25.33%;
    padding: 15px;
    margin: 13px;
    margin-left: 45px;
    height: 300px; /* Should be removed. Only for demonstration */
    border-radius: 10px ;
  }
  